/* Estilo contenedor del login */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

/* Título del formulario de login */
.login-container h2 {
  text-align: center;
  color: #B71C1C; /* Rojo oscuro */
}

/* Estilos de los inputs */
.login-container input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-container input:focus {
  border-color: rgba(220, 53, 69, 0.85); /* Cambia el azul a un rojo suave */
  box-shadow: 0 0 5px rgba(220, 53, 69, 0.5); /* Añade una sombra en tonos rojos */
  outline: none; /* Elimina el borde azul predeterminado */
}

/* Estilo del botón de login */
.login-container button {
  padding: 10px;
  background-color: rgba(220, 53, 69, 0.85); /* Rojo suave con un poco de transparencia */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: rgba(220, 53, 69, 1); /* Rojo más oscuro al pasar el mouse */
}

/* Estilo del texto debajo del botón */
.login-container p {
  margin-top: 10px;
  text-align: center;
}

/* Estilo del enlace 'Regístrate aquí' */
.register-link {
  color: #B71C1C; /* Rojo oscuro */
  text-decoration: underline;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: #D32F2F; /* Rojo más claro al pasar el mouse */
}
