.carousel-container {
  margin: 20px 0;
}

.carousel-slide {
  text-align: center;
}

.carousel-image {
  width: 100%;        /* Asegura que la imagen ocupe el ancho del contenedor */
  max-height: 500px;  /* Ajusta la altura máxima según el diseño del carrusel */
  object-fit: contain; /* Mantén la proporción de la imagen */
}
