/* Estilo contenedor del formulario de registro */
.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

/* Título del formulario de login */
.login-container h2 {
  text-align: center;
  color: #007BFF; /* Azul Principal */
}

/* Estilos de los inputs */
.login-container input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-container input:focus {
  border-color: rgba(0, 123, 255, 0.85); /* Azul suave */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Sombra en tonos azules */
  outline: none; /* Elimina el borde predeterminado */
}

/* Estilo del botón de registro */
.login-container button {
  padding: 10px;
  background-color: rgba(0, 123, 255, 0.85); /* Azul suave */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: rgba(0, 123, 255, 1); /* Azul más oscuro */
}

.login-container button:active, .login-container button:focus {
  background-color: rgba(0, 123, 255, 0.85); /* Mantiene el color al presionar */
  box-shadow: none;
  outline: none;
}

/* Estilo del texto debajo del botón */
.login-container p {
  margin-top: 10px;
  text-align: center;
}

/* Estilo del enlace 'Regístrate aquí' */
.register-link {
  color: #007BFF; /* Azul Principal */
  text-decoration: underline;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: #0056b3; /* Azul más oscuro */
}
